[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aiocontextvars = "==0.2.2"
cryptography = "==40.0.2"
fastapi = {extras = ["all"],version = "==0.95.1"}
gunicorn = "==20.1.0"
honcho = "==1.1.0"
pgpy = "==0.6.0"
requests = "==2.30.0"
sentry-sdk = {extras = ["fastapi"],version = "==1.22.0"}

[dev-packages]
bandit = "==1.7.5"
black = "==22.12.0"
faker = "==18.6.2"
flake8 = "==6.0.0"
invoke = "==2.1.1"
mkdocs = "==1.4.3"
mkdocs-material = "==9.1.9"
mypy = "==1.2.0"
pre-commit = "==3.3.1"
pytest = "==7.3.1"
pytest-cov = "==4.0.0"
pytest-mock = "==3.10.0"
python-dotenv = "==1.0.0"
responses = "==0.23.1"
safety = "==2.3.5"
types-certifi = "==2021.10.8.3"
types-requests = "==2.29.0.0"

[requires]
python_full_version = "3.10.8"
