[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
flask-apispec = "*"
flask-cors = "*"
flask-limiter = "*"
flask-recaptcha = "*"
flask-talisman = "*"
gevent = "*"
gunicorn = "*"
honcho = "*"
sendgrid = "*"
sentry-sdk = {extras = ["flask"],version = "*"}

[dev-packages]
black = "*"
coveralls = "*"
invoke = "*"
pytest = "*"
pytest-cov = "*"
pytest-flask = "*"
pytest-mock = "*"
python-dotenv = "*"
safety = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
