[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
fastapi = "*"
gunicorn = "*"
honcho = "*"
jinja2 = "*"
pgpy = "*"
pydantic = {extras = ["email"],version = "*"}
requests = "*"
sentry-sdk = "*"
uvicorn = "*"

[dev-packages]
bandit = "*"
black = "==19.3b0"
faker = "*"
"flake8" = "*"
invoke = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
python-dotenv = "*"
responses = "*"
safety = "*"

[requires]
python_full_version = "3.8.2"
