name: CI/CD

on: [push]

env:
  BASE_URL_PREVIEW: mailer-romainclement.vercel.app
  PYTHON_VERSION: '3.11.4'

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Install dependencies
        run: uv sync --all-extras --dev
      - name: Run QA
        run: |
          uv run inv qa
          uv run coverage xml
      - name: Publish code coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml

  build-docker:
    name: Docker build
    runs-on: ubuntu-latest
    needs: test

    env:
      IMAGE_NAME: ${{ secrets.DOCKER_USERNAME }}/mailer
      IMAGE_TAG: latest

    steps:
      - uses: actions/checkout@v5
      - name: Select Docker image tag (production only)
        if: contains(github.ref, 'tags')
        run: echo "IMAGE_TAG=${GITHUB_REF##*/}" >> $GITHUB_ENV
      - name: Pull latest Docker image
        run: docker pull $IMAGE_NAME:latest || true
      - name: Build Docker image (${{ env.IMAGE_TAG }})
        run: docker build -t $IMAGE_NAME:$IMAGE_TAG --cache-from $IMAGE_NAME:latest .
      - name: Log into Docker Registry
        if: contains(github.ref, 'master') || contains(github.ref, 'tags')
        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Push Docker image
        if: contains(github.ref, 'master') || contains(github.ref, 'tags')
        run: |
          docker push $IMAGE_NAME:$IMAGE_TAG

  build-docs:
    name: Build Documentation
    runs-on: ubuntu-latest
    needs: test

    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Install dependencies
        run: uv sync --all-extras --dev
      - name: Build documentation
        run: |
          uv run mkdocs build
      - name: Upload build artifacts
        uses: actions/upload-artifact@v5
        with:
          name: build-docs
          path: site

  deploy-docs:
    name: Deploy Documentation
    runs-on: ubuntu-latest
    needs: build-docs
    if: contains(github.ref, 'master')
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    permissions:
      pages: write
      id-token: write

    steps:
      - uses: actions/checkout@v5
      - name: Download build artifacts
        uses: actions/download-artifact@v6
        with:
          name: build-docs
          path: site
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: site
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

  deploy-vercel-setup:
    name: Deployment setup
    runs-on: ubuntu-latest
    needs: build-docker

    outputs:
      github_ref_slug: ${{ steps.output_step.outputs.github_ref_slug }}
      vercel_alias: ${{ steps.output_step.outputs.vercel_alias }}
      deployment_url: ${{ steps.output_step.outputs.deployment_url }}

    steps:
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v5
      - name: Set preview deployment url variable
        if: ${{ !contains(github.ref, 'tags') }}
        run: |
          MAX_SLUG_LENGTH=$((63 - ${#BASE_URL_PREVIEW} - 1))
          TRUNCATED_SLUG=${GITHUB_REF_SLUG_URL:0:$MAX_SLUG_LENGTH}
          VERCEL_ALIAS=${TRUNCATED_SLUG}-${BASE_URL_PREVIEW}
          echo "VERCEL_ALIAS=${VERCEL_ALIAS}" >> $GITHUB_ENV
          echo "DEPLOYMENT_URL=https://${VERCEL_ALIAS}" >> $GITHUB_ENV
      - name: Set production deployment url variable
        if: ${{ contains(github.ref, 'tags') }}
        run: |
          echo "VERCEL_ALIAS=" >> $GITHUB_ENV
          echo "DEPLOYMENT_URL=${{ secrets.MAILER_URL }}" >> $GITHUB_ENV
      - id: output_step
        run: |
          echo "github_ref_slug=${GITHUB_REF_SLUG_URL}" >> $GITHUB_OUTPUT
          echo "vercel_alias=${VERCEL_ALIAS}" >> $GITHUB_OUTPUT
          echo "deployment_url=${DEPLOYMENT_URL}" >> $GITHUB_OUTPUT

  deploy-vercel-preview:
    name: Vercel preview deployment
    runs-on: ubuntu-latest
    needs: deploy-vercel-setup
    if: ${{ !contains(github.ref, 'tags') }}
    environment:
      name: preview/${{ needs.deploy-vercel-setup.outputs.github_ref_slug }}
      url: ${{ needs.deploy-vercel-setup.outputs.deployment_url }}

    env:
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}

    steps:
      - uses: actions/checkout@v5
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Generate requirements.txt
        run: uv export --locked --no-emit-project --no-default-groups --no-hashes --format requirements.txt > requirements.txt
      - name: Install Vercel CLI
        run: npm install --global vercel@latest
      - name: Deploy to Vercel
        run: |
          VERCEL_ALIAS=${{ needs.deploy-vercel-setup.outputs.vercel_alias }}
          VERCEL_URL=$(vercel deploy --confirm --token $VERCEL_TOKEN)
          vercel alias --token $VERCEL_TOKEN set $VERCEL_URL $VERCEL_ALIAS

  deploy-vercel-production:
    name: Vercel production deployment
    runs-on: ubuntu-latest
    needs: deploy-vercel-setup
    if: contains(github.ref, 'tags')

    environment:
      name: production
      url: ${{ needs.deploy-vercel-setup.outputs.deployment_url }}

    env:
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}

    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Generate requirements.txt
        run: uv export --locked --no-emit-project --no-default-groups --no-hashes --format requirements.txt > requirements.txt
      - name: Install Vercel CLI
        run: npm install --global vercel@latest
      - name: Deploy to Vercel
        run: |
          vercel deploy --confirm --token $VERCEL_TOKEN --prod
